
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div style="margin: 10px auto; width: 70%;">
    <h2 style="text-align: center">ĐĂNG KÝ THÀNH VIÊN</h2>
    @using (Html.BeginForm("Register", "Users"))
    {
        @Html.ValidationSummary(true)
        <div class="mb-3 mt-3">
            <label for="name" class="form-label">TÊN ĐĂNG NHẬP:</label>
            <input type="text" class="form-control" id="name"
                   name="NameCus" required>
        </div>
        <div class="mb-3 mt-3">
            <label for="email" class="form-label">EMAIL:</label>
            <input type="email" class="form-control" id="email"
                   name="EmailCus" required>
        </div>
        <div class="mb-3">
            <label for="pwd" class="form-label">MẬT KHẨU:</label>
            <input type="password" class="form-control" id="pwd"
                   name="PassCus" required>
        </div>
        <div class="mb-3 mt-3">
            <label for="phone" class="form-label">ĐIỆN THOẠI:</label>
            <input type="text" class="form-control" id="phone"
                   name="PhoneCus" required>
        </div>
        <button type="submit" class="btn btn-primary">XÁC NHẬN</button>
    }
</div>