
@{
    ViewBag.Title = "Doitra";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <img style="width: 100%;" src="~/Images/Doitra.jpg">
    </div>
    <div class="col-md-8">
        <h2>Chính sách đổi trả:</h2>
        <hr />
        <p><strong>Quy định đổi trả:</strong></p>
        <p>– Sản phẩm chỉ được đổi trả trong vòng 07 ngày kể từ ngày khách hàng nhận được sản phẩm</p>
        <p>– Sản phẩm đổi,trả phải còn nguyên bao bì, nguyên tem, còn đầy đủ các chi tiết và chưa qua sử dụng</p>
        <p>– Sản phẩm không nằm trong danh mục sản phẩm miễn đổi trả (xem thông tin chi tiết ở dưới)</p>
        <p><strong>Danh mục sản phẩm miễn đổi trả, hoàn tiền :</strong></p>
        <p>– Nhóm hàng thực phẩm</p>
        <p>– Nhóm hàng vệ sinh cá nhân: bàn chải đánh răng…</p>
        <p>– Hàng hóa hư hỏng do sử dụng không đúng cách, lỗi người dùng</p>
        <p>Trân trọng!</p>
    </div>
</div>
