
@{
    ViewBag.Title = "Giaohang";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="row">
    <div class="col-md-7">
        <img style="width: 100%;" src="~/Images/Giaohang.jpg">
    </div>
    <div class="col-md-5">
        <h2>Chính sách giao hàng:</h2>
        <hr />
        <p>Tùy vào mặt hàng , Grocery Store có thể miễn phí hoặc tính phí vận chuyển . Phí vận chuyển được tính tùy thuộc vào khoảng cách địa lý, khối lượng đơn hàng và được thông báo trên đơn hàng.</p>
        <p>Quý khách hàng vui lòng TRA CỨU ĐƠN HÀNG để cập nhật được tình trạng đơn hàng cũng như cước phí vận chuyển hay mã vận đơn vận chuyển !</p>
        <p>Trân trọng!</p>
    </div>
</div>