<span style="color:white; margin-left: 2px">
    <a class="btn btn-danger" href="/ShoppingCart/ShowCart" style="font-weight:200;">
        <span class="glyphicon glyphicon-shopping-cart"></span> <i class="fa-solid fa-cart-shopping"></i>GIỎ HÀNG
    </a>
    Tổng Tiền: <b >@ViewBag.TotalCart.ToString("#,##0").Replace(',', '.') VNĐ</b>
</span>
