
@{
    ViewBag.Title = "Gioithieu";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h3>Grocery Store là địa chỉ mua sắm uy tín, là nơi khách hàng gửi gắm sự chân thành, yêu thương qua từng sản phẩm được thiết kế độc đáo , đầy tiện dụng và tràn đầy ý nghĩa.</h3>
<p><strong>1. Sứ mệnh</strong></p>
<p>Grocery Store không chỉ đơn thuần là một đơn vị bán hàng. Chúng tôi là một đội ngũ năng động và nhiều kinh nghiệm. Chúng tôi đồng hành cùng đối tác và khách hàng trong quá trình phấn đấu không ngừng cho thành công.</p>
<p><strong>2. Tầm nhìn</strong></p>
<p>Trong tương lai, Grocery Store nỗ lực xây dựng cộng đồng người tiêu dùng thông minh thông qua mạng lưới website hiện đại, chuyên nghiệp, thân thiện. Đồng thời, đội ngũ nhân viên của chúng tôi cũng nỗ lực đưa Grocery Store trở thành lựa chọn số một của khách hàng khi có nhu cầu mua sắm trực tuyến và từng bước tiến dần đến vị trí trang thương mại điện tử lớn trong nước về mặt hàng quà tặng, decor trang trí…độc quyền.</p>
<p><strong>3. Grocery Store có gì đặc biệt?</strong></p>
<p><strong>♦ Độc – đẹp – đầy đủ</strong></p>
<p>Grocery Store hướng tới mục tiêu tìm kiếm và cung cấp các nguồn hàng chất lượng cao, độc đáo, sáng tạo, giúp bạn có nhiều lựa chọn trong việc thể hiện tính cách của mình qua việc mua sắm cũng như dễ dàng mua quà tặng cho những người thân yêu.</p>
<p><strong>♦ Giá tốt nhất – uy tín nhất</strong></p>
<p>Với mỗi sản phẩm, ngoài việc chọn lọc kỹ càng, trình bày chi tiết đầy đủ Grocery Store cũng cung cấp cho khách hàng những sản phẩm đa dạng độc đáo với giá tốt nhất kèm những điều kiện áp dụng, khuyến mãi giảm giá (nếu có), các đánh giá thực tế của người mua, chế độ hậu hĩnh, bảo hành… Để khách hàng tiết kiệm thời gian cũng như trải nghiệm mua sắm một cách liền mạch, an toàn và thú vị nhất.</p>
<p><strong>♦ Địa chỉ mua sắm trực tuyến thông minh</strong></p>
<p>Điểm nổi bật nhất của Grocery Store là mang đến những sản phẩm độc đáo với giá cạnh tranh cùng nhiều chính sách ưu đãi , chúng tôi cung cấp những thông tin chính xác để khách hàng có thể dễ dàng đưa ra quyết định mua hàng tối ưu nhất mà vẫn tiết kiệm chi phí .</p>
<p><strong>♦ Dịch vụ chăm sóc khách hàng tận tậm</strong></p>
<p>Grocery Store luôn cố gắng duy trì mối quan hệ mật thiết với khách hàng bằng cách thường xuyên phát hành voucher quà tặng, áp dụng ưu đãi cho thành viên thân thiết… Đồng thời luôn cố gắng tìm hiểu, phân tích các nhu cầu thực tế nhất của khách hàng để phục vụ ngày một tốt hơn.</p>
