
@{
    ViewBag.Title = "Khachhang";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="row">
    <div class="col-md-5">
        <img style="width: 100%;" src="~/Images/Khachhang.jpg">
    </div>
    <div class="col-md-7">
        <h2>Chính sách bảo mật thông tin khách hàng:</h2>
        <hr />
        <p><strong>Cam kết bảo mật thông tin cá nhân khách hàng</strong></p>
        <p>– Chúng tôi cam kết bảo đảm an toàn thông tin cho quý khách hàng khi đăng ký thông tin cá nhân với công ty chúng tôi.</p>
        <p>– Chúng tôi cam kết không trao đổi mua bán thông tin khách hàng vì mục đích thương mại. Mọi sự chia sẻ và sử dụng thông tin khách hàng chúng tôi cam kết thực hiện theo chính sách bảo mật thông tin.</p>
        <p>– Chúng tôi cam kết sẽ khiến quý khách cảm thấy tin tưởng và hài lòng về bảo mật thông tin cá nhân khi tiến hành mua hàng</p>
        <p><strong>Mọi thông tin về tài khoản của quý khách đều được lưu trữ tại hệ thống của Grocery Store</strong></p>
        <p>Trân trọng!</p>
    </div>
</div>