
@{
    ViewBag.Title = "Lienhe";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="row">
    <div class="col-md-7">
        <img style="width: 100%;" src="~/Images/Lienhe.jpg">
    </div>
    <div class="col-md-5">
        <div class="col-inner" style="font-size:150%">
            <p>
                <span style="text-align:center">
                    <strong>Thông tin liên hệ:</strong>
                </span>
                <div style="text-align:center">
                    <strong>Grocery Store:</strong>
                </div>
                <hr />
                <div><i class="fa-solid fa-location-dot"></i> Địa chỉ: 828 Sư Vạn Hạnh, Phường 13, Quận 10, TP. Hồ Chí Minh</div>
                <div><i class="fa-solid fa-phone-volume"></i> Hotline: 0999000000</div>
                <div><i class="fa-solid fa-envelope"></i> Email: grocerystore@gmail.com</div>
                <div><i class="fa-brands fa-facebook"></i> Facebook: Grocery Store</div>
                <div><i class="fa-solid fa-pager"></i> Website: GroceryStore.vn</div>
            </p>
        </div>
    </div>
</div>