@model DuAnLTW.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div style="margin: 10px auto; width: 70%;">
    <h2 style="text-align: center">CHI TIẾT CATEGORY</h2>
    <div>
        <h4>THÔNG TIN CHI TIẾT</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                MÃ CATEGORY
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IDCate)
            </dd>
            <dt>
                TÊN CATEGORY
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NameCate)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("SỬA", "Edit", new { id = Model.Id }, new
        {
       @class = "btn btn-success"
        }) |
        @Html.ActionLink("TRỞ LẠI", "Index")
    </p>
</div>
