@model IEnumerable<DuAnLTW.Models.Product>
@{
    ViewBag.Title = "VP";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="col-2">
    <div id="div-left">
        <ul class="list-group" style="float:left">
            <li class="list-group-item" style="background-color: #003768;color:white"><h6s>DANH MỤC SẢN PHẨM</h6s></li>
            <li class="list-group-item"><a href="/CustomerProducts/Food" style="text-decoration: none;color:black">THỰC PHẨM</a></li>
            <li class="list-group-item"><a href="/CustomerProducts/Drink" style="text-decoration: none; color: black">THỨC UỐNG</a></li>
            <li class="list-group-item"><a href="/CustomerProducts/HMP" style="text-decoration: none; color: black">HÓA  - MỸ PHẨM</a></li>
            <li class="list-group-item"><a href="/CustomerProducts/Baby" style="text-decoration: none; color: black">TÃ EM BÉ</a></li>
            <li class="list-group-item"><a href="/CustomerProducts/VP" style="text-decoration: none; color: black">VĂN PHÒNG PHẨM</a></li>
            <li class="list-group-item"><a href="/CustomerProducts/SH" style="text-decoration: none; color: black">ĐỒ SINH HOẠT</a></li>
        </ul>
    </div>
</div>
<div style="margin: 10px auto; width: 90%;">
    <h2 style="text-align: center">VĂN PHÒNG PHẨM</h2>
    <hr />
    <div class="row">
        @foreach (var pro in Model)
        {
            <div class="col-sm-12 col-sm-6 col-md-4 col-lg-3" style="padding:15px">
                <div class="card">
                    <a href="/CustomerProducts/Details/@pro.ProductID" style="text-decoration: none">
                        <img src="~/Images/@pro.ImagePro" class="card-img-top" width="100">
                    </a>
                    <div class="card-footer">
                        <a href="/CustomerProducts/Details/@pro.ProductID" style="text-decoration: none">
                            <h5 class="card-title">@pro.NamePro</h5>
                        </a>

                        <p class="card-text">Đơn giá: <b style="color:red;padding-left:40px">@pro.Price VND</b></p>
                        <p style="text-align: center;">
                            <a href="/ShoppingCart/AddToCart/@pro.ProductID" class="btn btn-danger" style="float:right"> Mua </a>

                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>